# IDEA project files
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/deployment.xml
/.idea/jsLibraryMappings.xml
/.idea/watcherTasks.xml
/.idea/misc.xml

# Build dirs
/build
/dist
node_modules

# Other
Thumbs.db
