<phpunit bootstrap="phpunit-bootstrap.php">
    <testsuites>

        <testsuite name="Unit Tests">
            <directory>unit</directory>
        </testsuite>

        <testsuite name="End 2 End">
            <directory>end2end</directory>
        </testsuite>

        <testsuite name="Selenium Tests">
            <directory>selenium</directory>
        </testsuite>

    </testsuites>
</phpunit>