<phpunit bootstrap="phpunit-bootstrap.php">
    <testsuites>

        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>

        <testsuite name="StorageTests">
            <directory>StorageTests</directory>
        </testsuite>

        <testsuite name="SynchronizerTests">
            <directory>SynchronizerTests</directory>
        </testsuite>

        <testsuite name="GitRepositoryTests">
            <directory>GitRepositoryTests</directory>
        </testsuite>

        <testsuite name="End2End">
            <directory>End2End</directory>
        </testsuite>

        <testsuite name="Selenium">
            <directory>Selenium</directory>
        </testsuite>

        <testsuite name="Workflow">
            <directory>Workflow</directory>
        </testsuite>

        <testsuite name="LoadTests">
            <directory>LoadTests</directory>
        </testsuite>

    </testsuites>
</phpunit>
