# Test configuration, see TestConfig

selenium:
    firefox-binary: C:/Path/To/FirefoxPortable/App/Firefox/firefox.exe
    post-commit-wait-time: 500

# Default values for all sites, may be overwritten by a specific site
common-site-config:
    db:
        table-prefix: wp_
    wp-site:
        admin-name: admin
        admin-email: versionpress@example.com
        admin-pass: admin
        wp-version: 4.1
        wp-locale: en_US
        wp-autoupdate: false
    vp-config:
        # all supported vpconfig values are listed here so that they are `isset()` but empty by default
        git-binary:

# One of the sites below, used as the current one
test-site: vp01

# Type of workers that will run the tests (selenium / wp-cli)
end2end-test-type: selenium

# Version of WP-CLI that will be used (e.g. 0.19.0 / latest-stable)
wp-cli-version: 0.18.0

# Configured sites
sites:

    # Local sites
    vp01:
        host: localhost
        db:
            host: localhost
            dbname: vp01
            user: vp01
            password: vp01
        wp-site:
            path: C:/wamp/www/vp01
            url: http://localhost/vp01
            title: "VP Test @ WampServer"

    # Vagrant sites. The key must match a configuration in wp-cli.local.yml.
    vagrant-php53:
        host: wordpress-php53.local
        db:
            host: localhost
            dbname: wordpress
            user: wordpress
            password: wordpress
        wp-site:
            path: vagrant/wordpress/build
            url: http://wordpress-php53.local
            title: "VP Test @ Vagrant-PHP53"
        vp-config:
            git-binary: /usr/bin/git

    vagrant-php54:
        host: wordpress-php54.local
        db:
            host: localhost
            dbname: wordpress
            user: wordpress
            password: wordpress
        wp-site:
            path: vagrant/wordpress/build
            url: http://wordpress-php54.local
            title: "VP Test @ Vagrant-PHP54"
        vp-config:
            git-binary: /usr/bin/git

    vagrant-php55:
        host: wordpress-php55.local
        db:
            host: localhost
            dbname: wordpress
            user: wordpress
            password: wordpress
        wp-site:
            path: vagrant/wordpress/build
            url: http://wordpress-php55.local
            title: "VP Test @ Vagrant-PHP55"
        vp-config:
            git-binary: /usr/bin/git

