@import '../common/mixins';

.no-wp {
  p.search-box {
    float: right;
    margin: 0;
  }

  .search-box input[name="s"] {
    float: left;
    height: 28px;
    margin: 0 4px 0 0;
  }
}

.Filter {
  float: right;
  margin-bottom: 20px;

  &-query {
    width: 220px;
  }
}


