# DB schema description to be consumed by the DbSchemaInfo class.
#
# Format:
#
# <entity_name>
#     id: <simple_primary_col_name_if_table_has_one>
#     references:
#         <foreign_key_col_name_1>: <target_entity_name>
#         <foreign_key_col_name_2>: <target_entity_name>
#
#
# Currently, it is only used to describe entity references and the following rules apply:
#
#   1. The `id` field is required
#   2. <target_entity_name> must be present as a top-level entity
#   3. The `references` field is optional
#

posts:
    id: ID
    references:
        post_author: users
        post_parent: posts

users:
    id: ID