posts:
    id: ID
    references:
        post_author: users
        post_parent: posts

postmeta:
    id: meta_id
    references:
        post_id: posts

comments:
    id: comment_ID
    references:
        comment_post_ID: posts
        user_id: users
        comment_parent: comments

users:
    id: ID

terms:
    id: term_id

term_taxonomy:
    id: term_taxonomy_id
    references:
        parent: term_taxonomy
        term_id: terms

usermeta:
    id: umeta_id
    references:
        user_id: users

# options:
# they have the id column too, technically, but we don't to generate VPIDs
# for them as option names are basically a "primary key" for all our intents and purposes
