.no-wp {
  input,
  select {
    margin: 1px;
    padding: 3px 5px;
  }

  input,
  select,
  textarea {
    font-size: 14px;
    border-radius: 0;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  input,
  textarea {
    box-sizing: border-box;
  }

  input[type=text],
  input[type=password],
  input[type=checkbox],
  input[type=color],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=radio],
  input[type=tel],
  input[type=time],
  input[type=url],
  input[type=week],
  input[type=search],
  select,
  textarea {
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    transition: 50ms border-color ease-in-out;
  }

  input[type=text],
  input[type=email],
  input[type=search],
  textarea {
    font-size: 14px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #333;
    outline: 0;
    transition: .05s border-color ease-in-out;
    border-radius: 0;
    font-family: inherit;
    font-weight: inherit;

    &:focus {
      border-color: #5b9dd9;
      box-shadow: 0 0 2px rgba(30, 140, 190, .8);
    }
  }

  input[type=checkbox],
  input[type=radio] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    transition: .05s border-color ease-in-out;

    &:checked:before {
      float: left;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      font: 400 21px/1 dashicons;
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  input[type=checkbox]:checked:before {
    content: "\f147";
    margin: -3px 0 0 -4px;
    color: #1e8cbe;
  }

  input[type=radio]:checked:before {
    content: "\2022";
    text-indent: -9999px;
    border-radius: 50px;
    font-size: 24px;
    width: 6px;
    height: 6px;
    margin: 4px;
    line-height: 16px;
    background-color: #1e8cbe;
  }

  label {
    cursor: pointer;
    vertical-align: middle;
  }

  select {
    padding: 2px;
    line-height: 28px;
    height: 28px;
    vertical-align: middle;
  }

  #doaction,
  #doaction2,
  #post-query-submit {
    margin: 1px 8px 0 0;
  }

  .button,
  .button-primary,
  .button-secondary {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
  }

  .button,
  .button-secondary {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
    vertical-align: top;

    &:hover,
    &:focus,
    &.hover,
    &.focus {
      background: #fafafa;
      border-color: #999;
      color: #222;
    }

    &:active,
    &.active,
    &.active:hover {
      background: #eee;
      border-color: #999;
      color: #333;
      box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5);
    }

    &-disabled,
    &:disabled,
    &.disabled,
    &[disabled] {
      color: #aaa!important;
      border-color: #ddd!important;
      background: #f7f7f7!important;
      -webkit-box-shadow: none!important;
      box-shadow: none!important;
      text-shadow: 0 1px 0 #fff!important;
      cursor: default;
    }
  }

  .button-primary {
    background: #2ea2cc;
    border-color: #0074a2;
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus,
    &.hover,
    &.focus {
      background: #1e8cbe;
      border-color: #0074a2;
      box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
      color: #fff;
    }

    &:active,
    &.active,
    &.active:hover {
      background: #1b7aa6;
      border-color: #005684;
      color: rgba(255,255,255,.95);
      box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
      vertical-align: top;
    }

    &-disabled,
    &:disabled,
    &.disabled,
    &[disabled] {
      color: #94cde7!important;
      background: #298cba!important;
      border-color: #1b607f!important;
      -webkit-box-shadow: none!important;
      box-shadow: none!important;
      text-shadow: 0 -1px 0 rgba(0,0,0,.1)!important;
      cursor: default;
    }
  }
}

